.about-header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    justify-content: space-between;
}
.non-img-header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.divider{
    height: 1px;
    width: 8rem;
    background-color: var(--color-bg);
    margin-bottom: 16px;
}
.description-tag{
    color: var(--color-bg);
    font-family: var(--font-body);
    display: block;
}
.lllogo{
    width:50%;
    margin: 0 auto;
}
.text-chunk{
    flex-direction: column;
    display: flex;
    gap: 1rem;
}