.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-body);
    font-size: large;
    font-weight: 500;
    height: 3rem;
    min-height: 3rem;
    min-width: 14rem;
    max-width: 16rem;
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.btn::after {
  content: "";
  position: absolute;
  inset: 0; /* shorthand for top:0; right:0; bottom:0; left:0 */
  transform: translateY(100%);
  transition: transform 0.25s ease;
  z-index: 0; /* behind the text */
}

.btn span{
    position: relative;
    z-index: 1;
    transition: color 0.25s ease;
}


.btn:hover::after {
    transform: translateY(0);
}

.btn-primary:hover span{
    color: var(--color-bg);
}
.btn-primary::after{
    background-color: var(--color-text);
}
.btn-secondary:hover span{
    color: var(--color-bg);
}
.btn-secondary::after{
    background-color: var(--color-primary);
}
.btn-tertiary:hover span{
    color: var(--color-text);
}
.btn-tertiary::after{
    background-color: var(--color-secondary);
}


.btn-primary{
    background-color: transparent;
    color: var(--color-text);
    border: 1px solid var(--color-text);
}

.btn-secondary{
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary)
}
.btn-tertiary{
    background-color: transparent;
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary)
}

.btn .icon{
  width: 1em;
  height: 1em;
  transition: transform 0.25s ease, color 0.25s ease;
}
.btn:hover .icon {
  fill: var(--color-text); /* match span hover color */
  z-index: 1;
}