.insta-header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    align-items: center;
}
.divider{
    height: 1px;
    width: 8rem;
    background-color: var(--color-bg);
    margin-bottom: 16px;
}