.card-column{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20%;
    height: 50rem;
    position: relative;
    overflow: hidden;
}
.media-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}
.image-large {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.image-small {
    display: block;
    position: relative;
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.video-large {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.video-small {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.card-column video{
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}
.card-column:hover img {
  opacity: 0;
}

.card-column:hover video {
  opacity: 1;
}

h4{
    color: var(--color-bg);
    font-size: large;
    font-family: var(--font-body);
}
.description-tag{
    color: var(--color-bg);
    font-family: var(--font-body);
    display: block;
}
.delivery-tag{
    color: var(--color-primary);
    font-family: var(--font-body);
    font-weight: bold;
}