@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Great+Vibes&family=Raleway:wght@400;600&display=swap');

.award-container{
    display: flex;
    flex-direction: row;
    gap: 4;
    justify-content: space-evenly;
    width: auto;
    color:white;
    margin-top: auto;
}
.award{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.award:nth-child(1) p {
    font-family: var(--font-body);
    font-weight: 600;
  letter-spacing: 1px;
}
.award:nth-child(2) p {
    font-family: 'Great Vibes', cursive;
    font-size: 1.5rem;
}
.award:nth-child(3) p {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  text-transform: uppercase;
}
.award:nth-child(4) p {
     font-family: 'Playfair Display', serif;
     font-style: italic;
}