.insta-gallery{
    background-color: var(--color-text);
    height: 100vh;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}