.specials-page{
    background-color: var(--color-text);
    display: flex;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.specials-cards{
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
}