.about-page{
    display: flex;
    flex-direction: row;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: var(--color-text);
    justify-content: center;
    gap: 4rem;
}