.footer-col{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--color-text);
    align-items: center;
    padding-top: 5rem;
    padding-bottom:2rem;
}
.footer-row{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: end;
    width: 50%;
}
.info-col{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: baseline;
}
.divider{
    height: 1px;
    width: 8rem;
    background-color: var(--color-bg);
}

.info-col-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: baseline;
}
.footer-col p{
    color: var(--color-bg);
    font-family: var(--font-body);
    font-size: small;
    display: block;
}
.footer-col h2{
    color: var(--color-bg);
    font-family: var(--font-body);
    font-weight: bold;
}