.card-slider{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    position: relative;
}
.slider-divider-background{
    height: 2px;
    width: 20rem;
    border-radius: 20%;
    background-color: var(--color-muted);
    position: relative;
}
.slider-divider-progress{
    position: absolute;
    height: 2px;
    width: 0rem;
    border-radius: 20%;
    background-color: var(--color-bg);
}
.arrow{
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid var(--color-bg);
    padding: 1%;
}